:root {
    --primary-color: rgb(139, 105, 55);
    --secondary-color: rgb(211, 201, 182);
  }
  

@font-face {
    font-family: 'MyFont';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyFonter';
    src: url('fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding:0;
    font-family: 'MyFonter', Courier, monospace;
}

body {

    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    margin:0;
}

.container {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 5px;
    width:90vw;
    box-sizing: border-box;
}

.box {
    position: absolute;
    top: calc(50% - 25px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    
}

.box img {

    width: 50px;
    
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box h2 {
    font-family: 'MyFont',sans-serif;
    color: azure;
}

.left {
    overflow: hidden;
    height: 100%;
    position: relative;
}

img:first-of-type {
  max-width: 100%;
  border-radius: 5px;
  vertical-align: middle;
}

.header {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.header h3 {
    height: 40%;
    margin: 30px 0;
    padding: 0 20px;
    font-size: 16px;
  }

.form {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(228, 222, 209);
}

.form input {
    width: 200px;
}

.input-row {
    display: flex;
    
    justify-content: space-between;
    
    
    width: min(400px,100%);
}

.input-field {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form legend {
    font-weight: bold;
    margin: 10px 0 10px 0;
}

input {
    appearance: none;
    height: 25px;
    border: 1px solid rgb(126, 123, 123);
    border-radius: 5px;
    font-size: 10px;
}
input:focus {
    outline: none;
    appearance: none;
    border-color: var(--primary-color);
    border-width: 2px;
}

.submit {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}.submit a {
    text-decoration: none;
    color: var(--primary-color);
}

.error-m p{
    color: red;
}

label {
    font-size: 12px;
    margin-bottom: 2px;
}

input[type="submit"]{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

/*-----------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {
    label {
        width:150px;
    }
    .form {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        width: min(600px,100%);
        height: 400px;
    }
    .input-row {
        flex-direction: column;
    }
    .form input {
        width: min(80vh,300px);
    }
    
  }

@media only screen and (min-width: 700px) {
    body {
        flex-direction: row;
        align-items: flex-start;
    }
    .container {
        flex-direction: row;
        align-items: flex-start;
        width: 900px;
    }
    .header {
        width: 100%;
        max-width: 600px;
    }

    .input-field {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    img:first-of-type {
        max-width: 350px;
      }
    
      .input-row {
        gap: 7vw;
      }

      

    
  }